<footer class="bg-white shadow-inner py-4 border-gray-200 flex px-4">
    <div class="container text-center text-sm text-gray-500">
        <p>&copy;2025 All rights preserved.</p>
        <p>The no.1 Photo Gallery.</p>
        <p>Developed by:Jerome</p>
        <p>Version 1.0</p>
    </div>
    <div class="container text-center text-sm text-gray-500">
        <h2>Quick Links</h2>
        <ul class="list-none p-0">
            <li><a href="{% url 'home' %}" class="text-blue-600 hover:underline">Home</a></li>
            <li><a href="{% url 'profile' %}" class="text-blue-600 hover:underline">Profile</a></li>
            <li><a href="{% url 'upload_photo' %}" class="text-blue-600 hover:underline">Upload Photo</a></li>
            <li><a href="{% url 'about' %}" class="text-blue-600 hover:underline">About</a></li>
        <ul>
        </div>
        <div>
            <p>Help</p>
            <ul class="list-none p-0">
                <li class="text-blue-600 hover:underline">Contact Us</a></li>
                <li><a href="{% url 'about' %}" class="text-blue-600 hover:underline">About Us</a></li>
            </ul>
        </div>
</footer>
